.nav-bar {
    /* border: 1px solid red; */
    position: sticky;
    z-index: 100;
   
    padding: 0.4rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: 	#ffc455;
    border-bottom: 4px solid #eee;
}
.left-logo {
    /* border: 1px solid red; */
    height: 50px;
    width: 80px;

}
.left-logo img {
    height: 100%;
    width: 100%;
}
 